html{
	height: 100%;
}

body{
	background: url('https://www.desktopbackground.org/p/2014/03/15/731742_cool-wallpapers-hd-5608-image-dm_1280x800_h.jpg');
	color: white;
	background-size: cover;
	background-attachment: fixed;
}

i{
	margin: 0;
	font-size: 20px;
	color: rgba(41,76,234,1);
}

hr {
	background: white;
}

.abc{
	height: 200px;
}

.gray { 
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    
    filter: grayscale(70%);
	
    filter: gray;
    box-shadow: 0px 0px 10px 0px white;
    transition: 0.6s;
    height: 180px;
}

.gray:hover { 
	filter: none; 
	box-shadow: 0px 0px 30px 1px red;
	height: 190px;
}

.animeListBox {
	padding: 10px;
	margin: 5px auto;
	transition: 0.3s;
	border: 2px solid transparent;
}

.animeListBox:hover { 
	border: 2px solid orange;
}

.animeBox {
	padding: 5px 0;
	transition: 0.3s;
}

.animeBox:hover { 
	transform: scale(1.1,1.1);
	filter: hue-rotate(-30deg);
}

#header{
	transition: 0.5s;
}

#gameFilter {
	width: 30%;
	display: inline;
	transition: 0.6s;
}

#gameFilter:focus {
	width: 60%;
	
}